# 4.6 Task: Merge 'combined' and 'products' data sets

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create path
path = r'G:\My Drive\CareerFoundry\Python Projects\2023-10 Instacart Basket Analysis'

In [4]:
# Import combined and products data sets
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '#products_checked.csv'))

## Q.4 Check the shape of the imported dataframe

In [6]:
df_ords_prods_combined.shape

(32434489, 10)

In [7]:
# Shape matches that of the previously exported df

# Q.5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [9]:
df_ords_prods_combined.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [10]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods_checked.shape

(49672, 6)

In [12]:
# Need to delete/re-import prods_checked without the saved index column
del df_prods_checked

In [13]:
# Creates a list with only the 'necessary' columns from the data set
vars_list = ['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']

In [16]:
# Import prods_checked with vars_list
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '#products_checked.csv'), usecols = vars_list)

In [17]:
# Re-check shape and head.()
df_prods_checked.shape

(49672, 5)

In [18]:
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## To combine these dfs I will use merge() inner join (default). This is b/c I only want info from the products df that is also in the ords_prods df.

# Q.6 Confirm the results of the merge using the merge flag.

### First attempt to merge failed b/c ord_prods_merged already had a _merge column and indicator=True tried to create same named column. SOLUTION: Delete unnecessary _merge column from ord_prods_merged then merge again.

In [20]:
# Delete column with drop() function
df_ords_prods_combined = df_ords_prods_combined.drop('_merge', axis=1)

In [21]:
df_ords_prods_combined.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [22]:
# Deletion successful - Re-merge dfs
df_orders_products_merged = df_ords_prods_combined.merge(df_prods_checked, on = 'product_id', indicator = True)

In [23]:
df_orders_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
df_orders_products_merged.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [25]:
df_orders_products_merged.shape

(32404859, 14)

In [26]:
# Merge successful

# Q.7 Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [27]:
#Export df_orders_products_merged to prepared data as pkl
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))